.headerhead {
	padding-top: 100px;
}

.carousel .carousel-inner {
	max-height: 400px;
}

section {
	padding-top: 30px;
	padding-bottom: 30px;
}

.www {
	width:14px;
	height:16px;
	padding-bottom: 3px;
}

img {
	margin-left: auto;
	margin-right: auto;
}